conexion.php
doc_digital
doc_digital_c
pdf/lib/fonts/log.htm

#phpStorm
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries